## **Additional KNN Practice**
----

####**Before you begin, make sure to import your libraries!**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
import math
from sklearn.preprocessing import StandardScaler # Useful for scaling/normalizing our data. You do not need to know this
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

### **Problem \#1:**
---



<center> <img src = 'https://vitalflux.com/wp-content/uploads/2020/09/Screenshot-2020-09-22-at-2.34.57-PM.png'> </center>

**1.1)  How would the K-Nearest Neighbor algorithm classify the green data point if $K=3$?**

In [ ]:
#As a red triangle

##### **1.2)  How would the $K$- Nearest Neighbor algorithm classify the green data point if $K=5$?**

In [ ]:
#As a blue square

##### **1.3) Is there a $K$- value that would make the classification difficult to determine? If so, why?**

In [ ]:
# K=10, because there will be 5 elements from each group

### **Problem \#2:**
---
For the following exercise, we will use a dataset which maps life expectancy around the world. Explore the dataset and get familiar with the data before proceeding. **Using KNN, you will use the overall life expectancy, as well as the male and female life expectancy of the new datapoint, to determine which continent the data might belong to.** For this exercise, you are given the following information about the data point you must classify:

* Overall Life Expectancy: 84.65
* Overal Male Life Expectancy: 87.15
* Overall Female Life Expectancy: 92.24

In [ ]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 4.8 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

#### **Step \#1: Load the data**
---
Run the given code to load and view your data frame.

In [ ]:
url = 'https://docs.google.com/spreadsheets/d/1z5WPTM4Rge-8U4Dq11Jh9JmNxDAbMrel/edit?usp=sharing&ouid=117761513509433635335&rtpof=true&sd=true'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
life_expectancy_df = pd.read_excel(url)
life_expectancy_df

     Rank        Country  Overall Life  Male Life  Female Life Continent
0       1         Monaco          89.5       85.6         93.5    Europe
1       2          Japan          85.0       81.7         88.5      Asia
2       3      Singapore          85.0       82.3         87.8      Asia
3       4   Macau; China          84.5       81.6         87.6      Asia
4       5     San Marino          83.3       80.7         86.1    Europe
..    ...            ...           ...        ...          ...       ...
218   219          Gabon          52.1       51.6         52.5    Africa
219   220      Swaziland          51.6       52.2         51.0    Africa
220   221    Afghanistan          51.3       49.9         52.7      Asia
221   222  Guinea-Bissau          50.6       48.6         52.7    Africa
222   223           Chad          50.2       49.0         51.3    Africa

[223 rows x 6 columns]

#### **Step \#2: Decide independent and dependent variables**
---
Use the dataframe `life_expectancy_df` and subset your data into `x` and `y`.

* `x` will be `Overall Life`,	`Male Life`, and `Female Life`

* `y` will be `Continent`

**Note: This step has been done for you below.**

In [ ]:
x_values = life_expectancy_df.iloc[:, 2:5].values
y_values = life_expectancy_df.iloc[:, 5].values

#### **Step \#3: Split the data into train and test data**
---
Split your data into training and testing data. Reserve 20% of the data for testing.

**Hint**: Use `train_test_split` method from `sklearn` library.

**Include an extra parameter: `random_state = 42`**

In [ ]:
x_train, x_test, y_train, y_test = # add code here

####**Scale data**
---
Scale your `x_train` training and `x_test` testing data.

**Note: This step has been done for you below.**

In [ ]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

#### **Step \#4: Import your model**
---

#### **Step \#5: Initialize your model**
---
Build your model with $K=5$

**Hint**: Use `KNeighborsClassifier()` method from `sklearn` library.

#### **Step \#6: Fit your model and make a prediction**
---
Train it against your `x_train` and `y_train` training data.

Then, use your model to predict `x_test`

#### **Step \#7: Visualize**
---
Run the two following cells to see a **confusion matrix** for your KNN model (you may need to fill in variable names depending on what you named them). *Do not worry about understanding this code. This is just a cool visualization for you to see.*

The first is in a TP/TN/FP/FN style as seen in lecture.

**NOTE:** The names of variables are important here. Here is a list of the variable names used below that you may need to change:
* `y_test`
* `pred` - if you used another name from your prediction, change `pred` below.

##### **Confusion Matrix 1**

*Answer the following questions with this confusion matrix:*
* How many points were used to predict?
* How many were correctly identified?
* How many were incorrectly identified?
* Give an example of what a False Negative would be in this case.

In [ ]:
# Print out confusion matrix
cmat = confusion_matrix(y_test, pred)
print('TP - True Positive {}'.format(cmat[1,1]))
print('TN - True Negative {}'.format(cmat[0,0]))
print('FP - False Positive {}'.format(cmat[0,1]))
print('FN - False Negative {}'.format(cmat[1,0]))

##### **Confusion Matrix 2**
The second is larger than two by two since it shows a confusion matrix by continent rather than just positive or negative. This means you can see how well the model performed for by continent.

* The numbers in each box represent how many data points fell under that category.
* The y-axis represents the true label, and the x-axis represents the predicted.


Correct predictions are those on the diagonal from top left to bottom right. Any other number represent incorrect predictions. If a box has the same row name and column name, that is a correct prediction. If the names differ, then you can see a data point was predicted one continent when it was actually another.

*Answer the following questions with this confusion matrix:*
* Which continent looks like it performed the best with this model?
* Which continent performed the worst with this model?

**NOTE:** The names of variables are important here. Here is a list of the variable names used below that you may need to change:
* `x_test` - note lowercase
* `x_train` - note lowercase
* `y_test`
* `y_train`

In [ ]:
import matplotlib.pyplot as plot
import numpy as np
from sklearn import svm
from sklearn.metrics import ConfusionMatrixDisplay

classifier = svm.SVC(kernel="linear", C=0.02).fit(x_train, y_train)
u, indices = np.unique(y_test, return_index=True)
class_names = y_test[indices]

title_options = [
    ("Confusion matrix", None),
]

for title, normalize in title_options:
    display = ConfusionMatrixDisplay.from_estimator(
        classifier,
        x_test,
        y_test,
        display_labels=class_names,
        xticks_rotation='vertical',
        cmap=plot.cm.Blues,
        normalize=normalize,
    )
    display.ax_.set_title(title)

    print(title)
    print(display.confusion_matrix)

plot.show()

#### **Step \#8: Test the model**
---
Use the following code to test the accuracy of your model.

**NOTE:** Mean squared is not included below... can you think of why?

*Answer the following questions based on the classification report*:
* Which continent/country had the most precise predictions?
* Which one had the least precise?
* Why do you think Africa has a recall of 1.00?

In [ ]:
from sklearn.metrics import mean_squared_error, classification_report, accuracy_score
print("Accuracy Score: ", accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

#### **Step \#9: Use the model**
---

*Use the mystery data point supplied to predict what continent it is a part of.*

In [ ]:
mystery_data_point = np.array([84.65, 87.15, 92.24])
mystery_data_point_reshaped = mystery_data_point.reshape(1,-1)

**Use your model and the code from above to predict for the following data points:**

* `Overall Life`: 70,   `Male Life`: 65,   `Female Life`: 86 (`[70, 65, 86]`)
* `Overall Life`: 0,   `Male Life`: 0,   `Female Life`: 0 (`[0, 0, 0]`)
* `Overall Life`: 80,   `Male Life`: 68,   `Female Life`: 80 (`[80, 68, 80]`)

---
© 2022 The Coding School, All rights reserved